body{
    background-color: #5cdb95;
    color: #edf5e1;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
p{
    line-height: 1.7;
}

.scrolled
{
    background-color: #05386b;
    padding: 0.25rem;
    
}
#mainNavbar
{
    transition: 0.5s background-color, 0.5s padding;
    
}
#mainNavbar .navbar-brand
{
    font-weight: 900;

}
#mainNavbar .nav-link
{
    color: #edf5e1;
    font-weight: 500;
    opacity: 0.75;
    transition: 0.6s all;

}
#mainNavbar .nav-link:hover
{
    color: white;
     opacity: 1;

}
.navbar-nav 
{
    font-size: 1.2rem;
}

#logo
{
    font-size: 1.5rem;;
}

#start
{
    height: 750px;
    font-size: 1.5rem
    
}
#start h1{
    font-weight: 900;
}
#start span{
    color: #05386b;
}


#infect
{
    background-color: 	rgba(2, 117, 216,0.7);
    border-bottom: 20px #0275d8 solid;
    

}
#infect h2
{
    color: 	#00008B;
    

}
#infect h5{
    
    font-size: 1.8em;

}

#infect h5 span{
    
    color: #00008B;

}

#recover
{
    background-color: 	rgba(92, 184, 92,0.7);
    border-bottom: 20px rgb(92, 184, 92) solid;
  
}
#recover h2{
    
    color: #006400;

}

#recover h5{
    
    font-size: 1.8em;

}

#recover h5 span{
    
    color: #006400;

}



#death
{
    background-color: rgb(217, 83, 79,0.7);
    border-bottom: 20px #d9534f solid;

}

#death h2{
    
   color:#8B0000;

}
#death h5{
    
    font-size: 1.8em;

}

#death h5 span{
    
    color:#8B0000;

}



#active
{   	
    background-color: rgb(240, 173, 78,0.7);
    border-bottom: 20px #f0ad4e solid;

}
#active h2{
    
   color:	#B8860B;

}
#active h5{
    
    font-size: 1.8em;

}

#active h5 span{
    
    color:	#B8860B;

}

#vaccine
{
    width: 60%;
}

.icon{
    width: 40px;
}

.icon_text
{
    font-size: 1.7rem;
}

footer{
    height:200px;
    background-color: #05386b;
}
